.totalSearchDiv {
    padding: 20px 0;
    max-height: 400px;
    clear: both;
    margin-bottom: 30px;
}

.totalSearchUl {
    margin-bottom: 10px;
    width: 100%;
}

.totalSearchUl ul {
    width: 100%;
    padding-inline-start: inherit;
}

.totalSearchUl ul li {
    list-style: none;
    float: left;
    width: calc((100%/9) - 2px);
    height: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    background-color: #F9841A;
    border-top: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}
.totalSearchUl ul li.selected {
    background-color: white;
}
.totalSearchUl ul li a {
    font-size: 13px;
}


/*게임랭킹창의 랭킹 기준 표시 부분*/
/*리뷰게시판 게임포럼아래 세부항목에 사용*/
.game_rank_div {
    width: 100%;
}

.game_rank_div ul {
    width: 40%;
    padding-inline-start: inherit;
}

.game_rank_div ul li {
    list-style: none;
    float: left;
    width: 20%;
    height: 30px;
    text-align: center;
}

.game_rank_div ul li.choice {
    font-size: 1.3em;
    color: black;
}

.game_rank_div ul li a {
    display: block;
    color: rgba(0,0,0,0.6);
}

.game_rank_div ul li a:hover {
    font-size: 1.2em;
    color: black;
}

.game_rank_div ul li a.selected {
    font-size: 1.2em;
    color: black;
}