@charset "UTF-8";

    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

    * {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 14px;
      color: #1a1a1a;
    }

    html, body{
      margin: 0 0;
      padding: 0 0;
      min-height: 100%;
    }

    div, input, span{
      box-sizing: border-box;
    }

    #header{
      width: 100%;
      margin: 0 auto;
      position: fixed;
      left: 0;
      top: 0;
      background-color: white;
      z-index: 450;
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);

    }

    #header-upper-box{
      background-color: #FFC61A;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 77px;
    }

    #header-upper-box > div{
	 display: flex;
     justify-content: space-between;
     align-items: center;
     height: 77px;
     flex-basis: 1120px;
     max-width: 1120px;
    }

    #header-left{
      display: flex;
      align-items: center;
    }

    #header-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
    }

    #header-left a{
        display: flex;
    }


    form[name="gameSearch"] > div:first-of-type{
      background-color: white;
      position: relative;
      width: 320px;
      height: 34px;
      border: 2px #ececec solid;
      border-radius: 20px;
    }

    form[name="gameSearch"] #searchimg{
      width: 20px;
      position: absolute;
      top: 5px;
      right: 12px;
      opacity: 0.3;
      margin: 0;
      -webkit-user-drag: none;
    }

    #header-right input:first-of-type{
      width: 314px;
      height: 30px;
      padding: 2px 40px 2px 15px;
      border-radius: 20px;
      border: none;
      font-size: 16px;
    }

    .sign{
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
      color: black;
    }

    #signIn{
      margin: 0 30px;
    }

    #chatArea, #noticeArea{
        margin-left: 35px;
        position: relative;
    }

    #noticeArea{
        margin-right: 30px;
    }

    #chatArea a, #noticeArea a{
        display: flex;
        align-items: center;
    }

    #chatImg, #noticeImg{
        width: 25px;
    }

    #chatImg:hover, #noticeImg:hover{
        cursor: pointer;
    }

    #unreadChat, #unreadNotice{
        position: absolute;
        top:0;
        width: 6px;
        height: 6px;
        background-color: red;
        border-radius: 50px;
        color: white;
        font-size: 13px;
        opacity: 0;
    }


    #contents{
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 1120px;
      min-height: 100%;
      padding: 129px 0 0 0;
      font-size: 16px;
    }

    #contentsHeader{
      margin: 0;
      padding-top: 20px;
      padding-bottom: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #contentsHeader h2{
      font-size: 1.7em;
      margin-top: 0;
      margin-bottom: 5px;
    }

    #contentsLocation{
      margin-bottom: 20px;
    }

    #contentsMain{
      margin-bottom: 80px;
      flex-grow: 1;
      min-height: 420px;
    }

    /*여기부터 검색창 관련 css*/
    /*top 검색창 검색결과 전체 감싸는 div*/
    #gameSearchDiv{
        margin-top: 6px;
        background-color: white;
        overflow-y: auto;
    }
    /*top 검색창 검색결과 개별 감싸는 div*/
    .searched_top {
        height: 55px;
        padding: 2px;
        border-bottom: 1px dotted;
        clear: both;
    }

    .imageDiv {
        width: 50px;
        float: left;

    }
    .titleDiv > a {
        height: 50px;
        margin: 5px 0px;
        word-break: break-word;
    }

    .titleDiv {
        width: 220px;
        float: right;
    }

    .imageDiv > img {
    width: 50px;
    height: 50px;
    position: inherit;
    vertical-align: top;
    }

    #paginationArea{
        justify-content: center;
    }

    footer{
        font-size: 15px;
        height: 190px;
        background-color: #3D3D43;
        bottom: 0;
        clear: both;
    }

    #footer{
        padding-top: 50px;
        color: #DFDFDF;
        margin: 0 auto;
        max-width: 1120px;
    }






