<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="artist">
	
	<select id="check" resultType="int">
		select nvl(max(anum),0) anum
		from artist
		where artist=#{artist}
	</select>
	
	<insert id="insert">
		insert into artist (anum, artist, userid)
		values (seq_artist.nextval, #{artist}, #{userid})
	</insert>
	
	<insert id="insertmapping">
		insert into game_artist (gnum, anum)
		values (seq_game.currval,seq_artist.currval)
	</insert>
	
	<select id="artist_num" resultType="int">
		select anum
		from artist
		where artist=#{artist} 
	</select>
	
	<insert id="insertmapping_anum">
		insert into game_artist (gnum, anum)
		values (seq_game.currval,#{anum})
	</insert>
	
	<select id="getAuto" resultType="artistDto">
		select artist
		from artist
		where upper(artist) like upper(#{input})||'%'
		order by artist
	</select>

	<select id="view" resultType="artistDto">
			select a.anum, a.artist
			from artist a, game_artist ga
			where a.anum = ga.anum and ga.gnum = #{gnum}
	</select>

	<select id="updatecheck" resultType="int">
		select count(*)
		from game_artist ga, artist a
		where ga.anum = a.anum and ga.gnum = #{gnum} and a.artist = #{artist}
	</select>

	<insert id="insertmapping_update">
		insert into game_artist (gnum,anum)
		values (#{gnum},#{anum})
	</insert>

	<select id="viewArtist" resultType="String">
		select a.artist
			from artist a, game_artist ga
			where a.anum = ga.anum and ga.gnum = #{gnum}
	</select>

	<delete id="deleteGame_Artist">
		delete
		from 	game_artist
		where 	gnum = #{gnum}
		and 	anum =
				(select	anum
				 from	artist
				 where	artist=#{artist})
	</delete>

	<select id="totalSearch" resultType="artistDto">
		SELECT 	anum, artist, rn
		from	(
				SELECT 	anum, artist, rownum rn
				from	(
						select 	anum, artist
						from	artist
				<if test="gameKeyword != null and !'none'.equalsIgnoreCase(gameKeyword)">
					where	regexp_like(artist, #{gameKeyword},'i')
					order by
					CASE WHEN regexp_like(artist, '^'||#{gameKeyword},'i')
					THEN 1
					ELSE 2
					END
				</if>
				)
	<choose>
		<when test="filter != null and 'none'.equalsIgnoreCase(filter)">
			)
			where rn between 1 and 12
		</when>
		<otherwise>
			)
			where rn between #{start} and #{end}
		</otherwise>
	</choose>
	</select>

	<select id="totalSearchCount" resultType="int">
		select 	count(*)
		from	artist
		<if test="gameKeyword != null and !'none'.equalsIgnoreCase(gameKeyword)">
		where	regexp_like(artist, #{gameKeyword},'i')
		</if>
	</select>

	<select id="confirmList" resultType="artistDto">
		select 	a.*
		from 	ARTIST a
		left join  GAME_ARTIST ga
		on      a.anum = ga.ANUM
		where   ga.anum is null
	</select>

	<delete id="deleteitem">
		delete from artist where anum=#{num}
	</delete>

	<insert id="update_artist_mapping">
		insert into game_artist (gnum, anum)
		<choose>
			<when test="anum != 0">
				values (#{gnum},#{anum})
			</when>
			<otherwise>
				values (#{gnum}, seq_artist.nextval)
			</otherwise>
		</choose>
	</insert>

</mapper>














