<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="category">
	
	<select id="check" resultType="int">
		select nvl(max(cnum),0) cnum
		from category
		where gamecategory=#{category}
	</select>
	
	<insert id="insert">
		insert into category (cnum, gamecategory, userid)
		values (seq_category.nextval, #{category}, #{userid})
	</insert>
	
	<insert id="insertmapping">
		insert into game_category (gnum,cnum)
		values (seq_game.currval,seq_category.currval)
	</insert>
	
	<select id="category_num" resultType="int">
		select cnum
		from category
		where gamecategory=#{category}
	</select>
	
	<insert id="insertmapping_cnum">
		insert into game_category (gnum, cnum)
		values (seq_game.currval,#{cnum})
	</insert>
	
	<select id="list" resultType="categoryDto">
		select * from category
	</select>

	<select id="view" resultType="categoryDto">
		select c.cnum, c.gamecategory
		from category c, game_category gc
		where c.cnum = gc.cnum and gc.gnum = #{gnum}
	</select>

	<select id="updatecheck" resultType="int">
		select count(*)
		from game_category gc, category c
		where gc.cnum = c.cnum and gc.gnum = #{gnum} and c.gamecategory = #{category}
	</select>

	<insert id="insertmapping_update">
		insert into game_category (gnum,cnum)
		values (#{gnum},#{cnum})
	</insert>

	<select id="viewGamecategory" resultType="String">
		select c.gamecategory
		from category c, game_category gc
		where c.cnum = gc.cnum and gc.gnum = #{gnum}
	</select>

	<delete id="deleteGame_Category">
		delete
		from 	game_category
		where 	gnum = #{gnum}
		and 	cnum =
				(select	cnum
				 from	category
				 where	gamecategory=#{category})
	</delete>
	
</mapper>














