<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="category">
	
	<select id="check" resultType="int">
		select nvl(max(cnum),0) cnum
		from category
		where gamecategory=#{category}
	</select>
	
	<insert id="insert">
		insert into category (cnum, gamecategory, userid, gamecategory_ko)
		values (seq_category.nextval, #{category}, #{userid}, #{gamecategory_ko})
	</insert>
	
	<insert id="insertmapping">
		insert into game_category (gnum,cnum)
		values (seq_game.currval,seq_category.currval)
	</insert>
	
	<select id="category_num" resultType="int">
		select cnum
		from category
		where gamecategory=#{category}
	</select>
	
	<insert id="insertmapping_cnum">
		insert into game_category (gnum, cnum)
		values (seq_game.currval,#{cnum})
	</insert>
	
	<select id="list" resultType="categoryDto">
		select * from category
	</select>

	<select id="view" resultType="categoryDto">
		select c.cnum, c.gamecategory, gamecategory_ko
		from category c, game_category gc
		where c.cnum = gc.cnum and gc.gnum = #{gnum}
	</select>

	<select id="updatecheck" resultType="int">
		select count(*)
		from game_category gc, category c
		where gc.cnum = c.cnum and gc.gnum = #{gnum} and c.gamecategory = #{category}
	</select>

	<insert id="insertmapping_update">
		insert into game_category (gnum,cnum)
		values (#{gnum},#{cnum})
	</insert>

	<select id="viewGamecategory" resultType="String">
		select c.gamecategory, c.gamecategory_ko
		from category c, game_category gc
		where c.cnum = gc.cnum and gc.gnum = #{gnum}
	</select>

	<delete id="deleteGame_Category">
		delete
		from 	game_category
		where 	gnum = #{gnum}
		and 	cnum =
				(select	cnum
				 from	category
				 where	gamecategory=#{category})
	</delete>

	<select id="confirmList" resultType="categoryDto">
		select 	a.*
		from 	category a
		left join  game_category ga
		on      a.cnum = ga.cNUM
		where   ga.cnum is null
	</select>

	<delete id="deleteitem">
		delete from category where cnum=#{num}
	</delete>

	<select id="game_list_categoryCount" resultType="int">
		select	count(*)
		from	category
	</select>

	<select id="game_list_category" resultType="categoryDto">
		select	*
		from	(
				select 	a.*, rownum rn
				from	(
						select 	c.cnum, c.gamecategory, gc.count, c.gamecategory_ko
						from	category c
						left join 	(
									select 	cnum, count(*) count
									from	game_category
									group by cnum
									) gc
						on		c.cnum = gc.cnum
						order by count desc
						) a
				)
		where rn between #{start} and #{end}
	</select>

	<insert id="update_category_mapping">
		insert into game_category (gnum, cnum)
		<choose>
			<when test="cnum != 0">
				values (#{gnum},#{cnum})
			</when>
			<otherwise>
				values (#{gnum}, seq_category.nextval)
			</otherwise>
		</choose>
	</insert>
	
</mapper>














