<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="gathering">

	<insert id="addPost">
		insert into gathering
			(gathering_id, writer_id, post_date, title, description, gathering_date,
			maxpeople, attendsystem, note, question, address1)
		values 
			(gathering_id_seq.nextval,'kim123',sysdate,#{title},#{description},#{gathering_date},
			 #{maxPeople},#{attendSystem},#{note},#{question},'서울')
	</insert>
	
	
</mapper>














