<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">
	<select id="memberList" resultType="com.example.boardinfo.model.member.dto.MemberDTO">
		select * 
		from member
		where del = 'n'
		order by name 
	</select>
	
	<insert id="insertMember">
    <choose>
        <!-- profile이 null인 경우 -->
        <when test="profile == null">
            INSERT INTO member (name, userid, passwd, nickname, email, hp)
            VALUES (#{name}, #{userid}, #{passwd}, #{nickname}, #{email}, #{hp})
        </when>
        <!-- profile이 값을 가지고 있는 경우 -->
        <otherwise>
            INSERT INTO member (profile, name, userid, passwd, nickname, email, hp)
            VALUES (#{profile}, #{name}, #{userid}, #{passwd}, #{nickname}, #{email}, #{hp})
        </otherwise>
    </choose>
</insert>
	
	<select id="login_check" resultType="String" parameterType="com.example.boardinfo.model.member.dto.MemberDTO">
		select name
		from member
		where userid=#{userid} and passwd=#{passwd}
	</select>
	
	<select id="viewMember" resultType="com.example.boardinfo.model.member.dto.MemberDTO" >
		select * 
		from member
		where userid=#{userid}
	</select>
	
	<select id="selectMemberById" resultType="com.example.boardinfo.model.member.dto.MemberDTO" >
		SELECT * 
		FROM member 
		WHERE userid = #{userid}
	</select>
	
	<select id="selectMemberByNick" resultType="com.example.boardinfo.model.member.dto.MemberDTO" >
		SELECT * 
		FROM member 
		WHERE nickname = #{nickname}
	</select>
	
	 <select id="checkPw" resultType="int">
	  select count(*) from member
	  where userid=#{userid} and passwd=#{passwd}
	 </select>
	 
	 <update id="updateMember">
	  <choose>
        <!-- profile이 null인 경우 -->
        <when test="profile == null">
            update member 
            set name=#{name},nickname=#{nickname},email=#{email},hp=#{hp}
            where userid=#{userid}
        </when>
        <!-- profile이 값을 가지고 있는 경우 -->
        <otherwise>
            update member 
            set profile=#{profile},name=#{name},nickname=#{nickname},email=#{email},hp=#{hp}
            where userid=#{userid}
        </otherwise>
    </choose>
	 </update>
	 
	 <update id="deleteMember" parameterType="String">
	    update member
	    set del = 'y'
	    where userid = #{userid}
	 </update>
	
	 <select id="getDelValue" resultType="com.example.boardinfo.model.member.dto.MemberDTO">
         SELECT * 
		 FROM member 
		 WHERE userid = #{userid}
     </select>

	<select id="getNickname" resultType="String">
		select nickname
		from member
		where userid = #{user_id}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="searchId" resultType="String">
		select nvl(userid, 0) from member 
        where name = #{name} and hp = #{hp}
	</select>
	
	<!-- 아이디 이메일 체크 (비밀번호 찾기)-->
	<select id="findPwCheck" resultType="String">
		select count(*) from member 
        where userid = #{userid} and email = #{email}
	</select>
	<update id="pass_change" parameterType="hashMap">
		update member 
		set passwd = #{passwd}
		where email = #{email}
	</update>
	
</mapper>














