<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="review">

	<!-- 리뷰 DB -->
	<select id="reviewList" resultType="reviewDto">
		SELECT
			R.REG_NUM
			 , M.NICKNAME
			 , R.CATEGORY
			 , R.VIEWS
			 , R.GNUM
			 , R.GATHERING_ID
			 , R.TITLE
			 , R.FUN_SCORE
			 , R.REVIEW_SCORE
			 , R.GAME_SCORE
			 , R.REVIEW_DETAIL
			 , R.GOOD
			 , R.DEL
			 , R.CREATE_USER
			 , R.CREATE_DATE
			 , R.UPDATE_USER
			 , R.UPDATE_DATE
		FROM REVIEW R
		   , MEMBER M
		WHERE R.CREATE_USER = M.USERID
	</select>
	
	<select id="reviewInTest" resultType="testDto">
		SELECT
			TEST1
		FROM REVIEW_IN_TEST
	</select>



</mapper>





























