<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--sql 변수값에 null값 허용-->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>


	<typeAliases>

		<typeAlias type="com.example.boardinfo.model.game.dto.GameDTO" alias="gameDto"/>
		<typeAlias type="com.example.boardinfo.model.game.dto.category.CategoryDTO" alias="categoryDto"/>
		<typeAlias type="com.example.boardinfo.model.game.dto.mechanic.MechanicDTO" alias="mechanicDto"/>
		<typeAlias type="com.example.boardinfo.model.game.dto.designer.DesignerDTO" alias="designerDto"/>
		<typeAlias type="com.example.boardinfo.model.game.dto.publisher.PublisherDTO" alias="publisherDto"/>
		<typeAlias type="com.example.boardinfo.model.game.dto.artist.ArtistDTO" alias="artistDto"/>
		<typeAlias type="com.example.boardinfo.model.review.dto.ReviewDTO" alias="reviewDto"/>
		<typeAlias type="com.example.boardinfo.model.review.dto.TestDTO" alias="testDto"/>

		<typeAlias type="com.example.boardinfo.model.game.dto.gameRating.GameRatingDTO" alias="gameRatingDTO"/>
		<typeAlias type="com.example.boardinfo.model.game.dto.gameRating.RatingStatisticDTO" alias="ratingStatisticDTO"/>
		<typeAlias type="com.example.boardinfo.model.gathering.dto.GatheringDTO" alias="gatheringDTO"/>
		<typeAlias type="com.example.boardinfo.model.gathering.dto.GatheringReplyDTO" alias="gatheringReplyDTO"/>
		<typeAlias type="com.example.boardinfo.model.gathering.dto.ChatRoomDTO" alias="chatRoomDTO"/>
		<typeAlias type="com.example.boardinfo.model.gathering.dto.GatheringAlarmDTO" alias="gatheringAlarmDTO"/>
		<typeAlias type="com.example.boardinfo.model.gathering.dto.AttendeeDTO" alias="attendeeDTO"/>


		<typeAlias type="com.example.boardinfo.model.tboard.dto.TBoardDTO" 
			alias="tboardDto"/>
		<typeAlias type="com.example.boardinfo.model.tboard.dto.TBCommentDTO"
			alias="tbCommentDto" />
		<typeAlias type="com.example.boardinfo.model.tboard.dto.TBAttachDTO"
			alias="tbFileDto"/>
		<typeAlias type="com.example.boardinfo.model.admin.dto.AdminDTO" alias="adminDto" />
	</typeAliases>

	<typeHandlers>
		<typeHandler handler="com.example.boardinfo.handler.AttendeeTypeHandler" />
	</typeHandlers>

</configuration>


