@charset "UTF-8";

/* 테이블 관련 속성 */

.tableDiv {
	padding: 30px 0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}

th, td {
	padding: 6px 15px;
}

th {
	background-color: #1432B1;
	color: #fff;
	text-align: left;
}

tr:first-child th:first-child {
	border-top-left-radius: 6px;
}

tr:first-child th:last-child {
	border-top-right-radius: 6px;
}

td {
	border-right: 1px solid #c6c9cc;
	border-bottom: 1px solid #c6c9cc;
}

td:first-child {
	border-left: 1px solid #c6c9cc;
}

tr:nth-child(even) td {
	background: #D9D9D9;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 6px;
}

/* game_insert에서의 toggle스위치 관련 */
.toggleSwitch {
  width: 50px;
  height: 25px;
  display: block;
  position: relative;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgb(0 0 0);
  cursor: pointer;
  margin: 15px;
}

.toggleSwitch .toggleButton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F9841A;
}

#toggleCategory, #toggleMechanic {
	display: none;
}

#toggleCategory:checked ~ .toggleSwitch,
#toggleMechanic:checked ~ .toggleSwitch {
  background: #f03d3d;
}

#toggleCategory:checked ~ .toggleSwitch .toggleButton,
#toggleMechanic:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 22px);
  background: #fff;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}

/* toggle 스위치를 켰을 때 목록이 나타나게 함 */
#divCategory, #divMechanic {
	display: none;
}

#toggleCategory:checked ~ #divCategory,
#toggleMechanic:checked ~ #divMechanic {
 	display:unset;
}

.cursor_pointer {
	cursor: pointer;
}

#artistSuggestions, #designerSuggestions, #publisherSuggestions, #exSuggestions, #reSuggestions{
	width: 300px;
	background-color: white;
	overflow-y: auto;
}
.input_game {
	width: 300px;
}

#fileDrop {
	float: right;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	margin-right: 50px;
}

.img_photo {
	width: 70px;
	height: 70px;
}