/*#contents{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: auto;*/
/*    max-width: 1120px;*/
/*    min-height: 100%;*/
/*    padding: 129px 0 0 0;*/
/*    font-size: 16px;*/
/*}*/

/*#contentsHeader{*/
/*    margin: 0;*/
/*    padding-top: 32px;*/
/*    padding-bottom: 5px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/

/*#contentsHeader h2{*/
/*    font-size: 1.9em;*/
/*    margin-top: 0;*/
/*    margin-bottom: 5px;*/
/*}*/

/*#contentsLocation{*/
/*    margin-bottom: 30px;*/
/*}*/

/*#contentsMain{*/
/*    margin-bottom: 80px;*/
/*    flex-grow: 1;*/
/*    min-height: 420px;*/
/*}*/
/*!*top 검색창 검색결과 전체 감싸는 div*!*/
/*#gameSearchDiv{*/
/*    margin-top: 6px;*/
/*    background-color: white;*/
/*    overflow-y: auto;*/
/*}*/
/*!*top 검색창 검색결과 개별 감싸는 div*!*/
/*.searched_top {*/
/*    height: 50px;*/
/*    padding: 2px;*/
/*    border-bottom: 1px dotted;*/
/*}*/

/*.searched_top > a {*/
/*    margin: 5px;*/
/*}*/

/*#footer{*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 172px;*/

/*    background: #3D3D43;*/
/*}*/
a {
    text-decoration: none;
    color: black;
}
button {
    font-size: .9em;
    padding: 8px 10px;
    white-space: nowrap;
    background-color: #f0f0f0;
    border-radius: 8px;
    height: 100%;
    border: none;
}

#contents{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1120px;
    padding : 130px;
}
#contentsHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.h2 {
    font-size: 1.2em;
    font-weight: bold;
    flex:0.2;
    align-items: center;
    justify-content: flex-start;
    padding-right: 8px;
}

* li {
    list-style-type: none;
}
.listAndEdit{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button{
    font-size: .9em;
    padding: 8px 10px;
    white-space: nowrap;
    background-color: #f0f0f0;
    border-radius: 8px;
    height: 100%;
}
.imgSection {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /*position: relative;*/
    width: 1000px;
    height: auto;
    /*background: #E5E5E5;*/
}


.imgController {
    display: flex;
    flex-direction: row;
}

.imgCarousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 400vw;
    left: 40px;
    top: 0px;
    overflow: hidden;
    transition: transform 0.5s;
}

.innerImg {
    width: 100vw;
}

.moveImgLeft {
    align-items: center;
    padding: 0px;
    gap: 10px;
}
.moveImgRight{
    align-items: center;
    padding: 0px;
    gap: 10px;
}
.imgSlideNav{
    align-items: center;
}

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;

    position: relative;
    width: 1000px;
    height: auto;
}

.profileAndNickName{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.profileAndNickName .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile .userImg {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    /*background-color: var(--default-background-color);*/
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.profileAndNickName .nickName {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 100%;
}

.categoryAndTitle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.categoryAndTitle .category {
    font-size: .9em;
    padding: 8px 10px;
    white-space: nowrap;
    background-color: #f0f0f0;
    border-radius: 8px;
    height: 100%;
}

.categoryAndTitle .category span {
    padding: 10px 0px;
    white-space: nowrap;
}
.categoryAndTitle .title h1 {
    display: inline;
    /*color: var(--default-font-color);*/
    word-break: break-word;
}
.price {
    display: flex;
    color : #ff8a3d;
}
.descriptionSection {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    width: 1000px;
    height: auto;

}

#description {

}

.descriptionSub {
    display: flex;
    flex-direction: column;

}

#meeting_place {

}

.descriptionSub ul {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(85, 196, 115);
}

.viewCount svg {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.fa-comment-dots:before, .fa-commenting:before {
    content: "\f4ad";
    margin-right: 4px;
}
.otherItemList {
    box-sizing: border-box;
    position: relative;
    height: auto;
}

.otherItemContainer {

}

.replySection {

}

#replyList {
    box-sizing: border-box;
    position: relative;
    width: 1000px;
    height: auto;

    /*background: #E5E5E5;*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.reply {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 3px;
    align-items: baseline;
}

.replyUpper {
    display: flex;
}
.replyUpper .userInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size : .9em;
    white-space: nowrap;
    margin-bottom: 5px;
}
.userInfo > div {
    padding-right: 4px;
}
.replyUpper .userProfile {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    margin-right: 3px;
    /*background-color: var(--default-background-color);*/
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

/*댓글 목록 안에 댓글 내용*/
.reply .replyContent {
    flex: .9;
    margin-left: 32px;
}

.replySub {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.replyContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    border-radius: 8px;
}

.replyInput {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


.replyInput textarea {/*background: #E5E5E5;*/
    flex: 1;
    width: 100%;
    height: 90px;
    font-size: 1em;
    /*color: var(--default-font-color);*/
    resize: none;
    background-color: #f3f7fb;
}
form[name=newReplyForm] .replyContent {

}

form[name=newReplyForm] .submit {
    flex: .2;
    font-size: .8em;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reply form textarea[name=content] {
    flex: 1;
    width: 100%;
    height: 90px;
    font-size: 1em;
    /*color: var(--default-font-color);*/
    resize: none;
    background-color: #f3f7fb;

}

/*케러셀 이미지 사이즈 조정*/
.carousel-item {
    height: 50vh; /* Adjust the desired height using viewport height */
    width: 100%; /* Take up the full width of the container */
}
.carousel-item img {
    max-height: 100%; /* Maintain aspect ratio and fill the carousel item */
    width: auto; /* Let the width adjust based on the image aspect ratio */
}
